* {
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    border: 0 none;
    padding: 0;
    margin: 0;
    position: static;
    font-weight: 400;
    font-style: normal;
    /* background-color: white; */
    user-select: none;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Questrial";
    src: url("../fonts/Questrial-Regular.ttf");
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 8px;
    width: auto;
    margin: auto calc((100vw*80)/1440) auto calc((100vw*80)/1440);
}

.logo-container {
    height: calc((100vw*192)/1440);
    width: calc((100vw*192)/1440);
}

.logo-img {
    width: calc((100vw*192)/1440);
    height: auto;
}

.header-container {
    margin-top: calc((100vw*65)/1440);
    margin-bottom: calc((100vw*75)/1440);
}

.header-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-top-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.language-switcher-button {
    font-size: 20px;
}

.language-button-ru {
    text-decoration: underline;
}

.burger-button:hover {
    cursor: pointer;
}

.burger-button {
    display: flex;
    flex-direction: column;
    height: 32px;
    justify-content: space-evenly;
}

.burger-button-line {
    width: calc((100vw*61)/1440);
    border: 3px #000 solid;
    background-color: black;
}

.burger-menu {
    transition-duration: 0.5s;
    top: 0;
    left: 100vw;
    right: 0;
    bottom: 0;
    background-color: #1a1a1a;
    position: fixed;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    z-index: 9;
}

.burger-menu-main-part {
    background-color: #1a1a1a;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.burger-menu-list {
    background-color: #1a1a1a;
    margin-left: calc((100vw*56)/1440);
    margin-top: calc((100vw*75)/1440);
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.burger-menu-link {
    color: #fff;
    background-color: #1a1a1a;
    font-size: 96px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 67px;
    transition-duration: 0.2s;
    text-stroke: 1px #fff;
    -webkit-text-stroke: 1px #fff;
}

.burger-menu-link:hover {
    color: #000;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;

}

.burger-close-button {
    width: 60px;
    height: 60px;
    background-color: #1a1a1a;
    margin-top: 30px;
}

.burger-close-figure {
    width: 100%;
    height: 100%;
    clip-path: polygon(1% 0, 50% 49%, 99% 0, 100% 1%, 51% 50%, 100% 99%, 99% 100%, 50% 51%, 1% 100%, 0 99%, 49% 50%, 0 1%);
    background-color: #fff;
    transition-duration: 0.2s;
}

.burger-close-button:hover .burger-close-figure {
    clip-path: polygon(2% 0, 50% 48%, 98% 0, 100% 2%, 52% 50%, 100% 98%, 98% 100%, 50% 52%, 2% 100%, 0 98%, 48% 50%, 0 2%);
}

.burger-close-button:hover {
    cursor: pointer;
}

.burger-logo-container {
    width: calc((100vw*558)/1440);
    height: calc((100vw*558)/1440);
}

.burger-logo-img {
    width: 100%;
    height: 100%;
}

.burger-email-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #1a1a1a;
    margin-top: 30px;
}

.burger-email {
    margin-right: 30px;
    align-self: flex-end;
    font-weight: 600;
    font-size: 34px;
    color: #fff;
    text-transform: uppercase;
    background-color: #1a1a1a;
}

.burger-underline {
    height: 3px;
    width: 100%;
    background-color: #fff;
}

.main-header {
    font-family: "Questrial", sans-serif;
    font-size: 96px;
}

.pres-section {
    margin-bottom: calc((100vw*95)/1440);
}

.short-desc-and-slider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: calc((100vw*40)/1440);
    text-transform: uppercase;
    line-height: 34px;
}

.pres-short-description {
    font-size: 20px;
    line-height: 34px;
}

.pres-slider {
    display: flex;
    flex-direction: column;
    width: 87px;
}

.pres-slider-num {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    font-size: 16px;
    color: #000;
}

.pres-slider-body {
    width: 79px;
    height: 3px;
    background-color: #b0b0b0;
    align-self: center;
}

.pres-slider-indicator {
    width: 20px;
    height: 3px;
    background-color: #000;
}

.pres-interrier {
    width: 100%;
    height: auto;
}

.pres-description-container {
    /* margin-top: calc((100vw*95)/1440); */
    margin-top: 95px;
}

.pres-slogan {
    font-size: 20px;
    color: #838383;
    width: 100px;
    margin-bottom: 70px;
    line-height: 24.38px;
}

.pres-pre-description {
    font-size: 25px;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    width: 556px;
    margin-bottom: 40px;
    line-height: 38.98px;
}

.pres-description {
    line-height: 36px;
    font-size: 20px;
    text-align: justify;

}

.projects-section{
    background-color: #000;
    padding-top: 69px;
}

.projects-container{
    margin: auto calc((100vw*80)/1440) auto calc((100vw*80)/1440);
  
}

.projects-header{
    font-size: 24px;
    color: #D8D8D8;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 35px;
}

.upper-projects{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-card-img{
  transition-duration: 0.2s;
}

.project-card-img:hover{
  background-color: #1a1a1a;
  cursor: pointer;
}

.residence-project-img{
    margin-top: 110px;
    width: calc((100vw*520.5)/1440);
}
.villa-project-img{
    width: calc((100vw*699.5)/1440);
}

.bottom-projects{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.interrier-project-img{
    margin-top: 145px;
    width: calc((100vw*609.5)/1440);
    margin-bottom: 104px;
}

.projects-additional-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.landscape-project-img{
    width: calc((100vw*548)/1440);
}

.all-projects-button{
    display: flex;
    flex-direction: column;
    color: #D8D8D8;
    font-size: 24px;
    line-height: 35px;
    text-transform: uppercase;
    margin-bottom: 103px;
    width: auto;
    align-self: flex-end;
    transition-duration: 0.2s;
}

.button-text-and-arrow{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.all-projects-button-arrow{
    clip-path: polygon(5% 0, 94% 90%, 94% 50%, 100% 50%, 100% 100%, 50% 100%, 50% 94%, 90% 94%, 0 5%);
    background-color: #fff;
    width: 20px;
    height: 20px;
    margin-left: 5px;   
}

.all-projects-button-underline{
    height: 1px;
    background-color: #fff;
    width: 100%;
    transition-duration: 0.1s;
}

.all-projects-button:hover{
 cursor: pointer;   
 background-color: #1a1a1a;
}


.all-projects-button:hover .all-projects-button-underline{
    height: 3px;
}